<?xml version="1.0" encoding="UTF-8"?>
<!-- monitorInterval参数是在上一次记录日志的行为被触发后，时隔多少秒再次进行配置文件的检查 -->
<configuration status="WARN" monitorInterval="30"
	strict="true" name="XMLConfig">
	<Properties>
		<Property name="file_path">D:\\log</Property>
		<Property name="file_name">MyWeChat</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout"
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Filters>
				<Filter type="MarkerFilter" marker="FLOW" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY"
					onMismatch="ACCEPT" />
			</Filters>
			<!-- <Console name="Console" target="SYSTEM_OUT"> <PatternLayout pattern="%d{yyyy-MM-dd 
				HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> </Console> -->
		</Appender>
		<Appender type="Console" name="FLOW">
			<Layout type="PatternLayout" pattern="%logger{36}.%M %m %ex%n" /><!-- 
				class and line number -->
			<Filters>
				<Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT"
					onMismatch="NEUTRAL" />
				<Filter type="MarkerFilter" marker="EXCEPTION"
					onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</Appender>
		<RollingFile  name="RollingFile"
			fileName="${file_path}/${file_name}.log"
			filePattern="${file_path}/$${date:yyyy-MM-dd}/app-%d{yyyy-MM-dd-HH-mm}-%i.log">
			<PatternLayout>
				%d %p %logger{36} [%t] %m%n
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 KB" />
				</Policies>
			<DefaultRolloverStrategy max="2" />
			
		</RollingFile>
		<!-- <Routing name="Routing"> <Routes pattern="$${sd:type}"> <Route> <RollingFile 
			name="Rolling-${sd:type}" fileName="${file_name}" filePattern="${file_path}/test1-${sd:type}.%i.log.gz"> 
			<PatternLayout> <pattern>%d %p %logger{36} [%t] %m%n</pattern> </PatternLayout> 
			<SizeBasedTriggeringPolicy size="500" /> </RollingFile> </Route> <Route ref="STDOUT" 
			key="Audit" /> </Routes> </Routing> -->
	</Appenders>
	<loggers>
		<logger name="resource.Bar" level="trace" additivity="false">
			<Appender-ref ref="RollingFile" />
		</logger>
		<logger name="resource.Log4jTest" level="error"
			additivity="false">
			<Appender-ref ref="STDOUT" />
		</logger>
		<logger name="com.wechat.global.servlet.WechatTokenServlet"
			level="info" additivity="false">
			<Appender-ref ref="RollingFile" />
		</logger>
		<root level="all">
			<Appender-ref ref="STDOUT" />
			<Appender-ref ref="RollingFile" />
		</root>
	</loggers>
</configuration>